<!DOCTYPE html>
<html lang="en">

   <head>

      <title>Pig Latin Translator</title>

      <meta charset="UTF-8">


   </head>

   <body>

     <form method="post" action="index.php">

       <textarea name="text" maxlength="80184" cols="42" rows="10" placeholder="Write text" required></textarea>

       <input name="submit" type="submit" value="Translate">

     </form>

     <br>
     <br>

     {if isset($translation)}
      {$translation}
     {/if}

   </body>


</html>
